# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class

# Virtual environment
venv/
demo_venv/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# IDE and editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
